<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.itb.tcclacake2021">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TccLacake2021"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.login.LoginActivity" android:label="@string/title_activity_login">
        </activity>

        <activity android:name=".MainActivity" android:label="@string/app_name">
        </activity>

        <activity android:name=".tela_loading" android:screenOrientation="portrait">

        </activity>

        <activity android:name=".tela_settings" android:screenOrientation="portrait">

        </activity>

        <activity android:name=".tela_favoritos" android:screenOrientation="portrait"
            android:parentActivityName=".tela_profile">

        </activity>

        <activity android:name=".perfil_da_loja" android:screenOrientation="portrait">

        </activity>

        <activity android:name=".tela_cadastro" android:screenOrientation="portrait">

        </activity>

        <!-- Tela do Perfil -->
        <activity android:name=".fragment_profile" android:screenOrientation="portrait">

        </activity>
        <!-- Tela do Perfil -->

        <activity android:name=".tela_pagamento" android:screenOrientation="portrait"
            android:parentActivityName=".fragment_profile">
        </activity>

        <activity android:name=".tela_principal" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tela_profile" android:screenOrientation="portrait"
            android:parentActivityName=".tela_principal">

        </activity>

        <activity android:name=".tela_endereco" android:screenOrientation="portrait"
            android:parentActivityName=".tela_profile">
        </activity>

        <!-- Tela Sobre -->
        <activity android:name=".tela_sobre" android:screenOrientation="portrait">

        </activity>

        <!-- Informações Legais -->
        <activity android:name=".tela_sobre_informacoes_legais">
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_info_licenca_do_software">
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_info_politica_de_privacidade">
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_info_termos_e_condicoes">
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_info_dados_de_localizacao">
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>
        <!-- Informações Legais -->

        <activity android:name=".tela_sobre_quem_somos"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_sobre_fundadores"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_sobre_colaboradores"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_sobre_versao_do_software"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_sobre_perguntas_frequentes"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".tela_sobre_quero_ser_um_boleiro"
            android:parentActivityName=".tela_sobre"
            android:screenOrientation="portrait">
        </activity>
        <!-- tela sobre -->

        <activity android:name=".tela_fale_conosco" android:screenOrientation="portrait"></activity>

        <activity android:name=".tela_de_pedidos" android:screenOrientation="portrait"></activity>

        <activity android:name=".MapsActivity" android:screenOrientation="portrait"></activity>

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyDe8QNOjx_xhZPCKbJAPN4rgSfriDO8jk0" />

    </application>
</manifest>